/* @media only screen and (min-width: 1025px) { */

  body {
    /* display: flex; */

    background-color: #12232E;
    color:#EEFBFB ;
    font-family: 'Ubuntu', sans-serif;
  }


/* } */
.form-control{
  background-color: #EEFBFB;


}
.form-group{
  /* background-color: #EEFBFB; */
 display: flexbox;

}
.btn{

border-radius: 3rem;
/* min-width: 50%; */
width: 90%;
max-width: 100%;
padding: .5rem;
margin: .5rem;
}
.btn-success {
  background-image: linear-gradient(to right, #4DA8DA 0%,#007CC7 51%);
  border-color: #4DA8DA;
}
.btn-danger {
  background-image: linear-gradient(to right, #ff4f38 0%, #fd1e00 51%);
  border-color: #ff4f38;
}
.btn-primary{
  background-color: #203647;
  border-color: #203647;
}
.card{
  background-color:#203647;
  color: #EEFBFB;

}
.card-header{
  border-bottom: 2px solid #12232E;
}



/* Position text in the top-left corner */
.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

/* Position text in the bottom-left corner */
.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

/* Position text in the middle */
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.divSchedule{
  display: flex;
  flex-direction: column;

}
@media only screen and (min-width: 1025px) {
.divSchedule{
  display: flex;
  flex-direction: row;

}

}

@media only screen and (max-width: 1025px) {
  h3{
    font-size: 20px;
    padding: 0px;
    /* margin-top: -50%; */

  }
}
.img_home{
max-width: 80%;
height: auto;
}
@media only screen and (max-width: 1025px) {
  .img_home{
    height: auto;
    min-width: 300px;
  }
}
.scheduleDiv{
 flex-grow: 1;
  width: 70%;
  margin-left: 50px;
}
@media only screen and (max-width: 1025px) {
  .scheduleDiv{
    /* flex-grow: 1; */
    width: 100%;
    margin-left: 0px;
  }
}






